Source: pycsdr
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 10), dh-python, python3-all (>= 3.5), libpython3-dev (>= 3.5), python3-setuptools, libcsdr-dev (>= 0.18)

Package: python3-csdr
Architecture: any
Depends: libcsdr0 (>= 0.18), ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for libcsdr
 Offers a variety of modules from the csdr software defined radio library for
 digital processing of radio transmission.
